
        
        h1 {
        color:white;
        font-family:helvetica;
        margin-left: 20;
        margin-right: 20;
        }

        p {
        color:white;
        font-family:helvetica;
        margin-left: 20;
        margin-right: 20;
        }
   button {
  margin: 10px;
  width: 80px;
  height: 30px
}